@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Desktop large*/

.app-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 210px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 112px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 20px;
}

.nav-list li {
  margin-left: 25px;
}

.nav-list .active {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-primary);
  color: inherit;
}

.nav-list a {
  color: #ffffff;
  text-decoration: none;
}

.title {
  margin: 100px 0 32px;
  position: relative;
  font-size: 60px;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  width: 156px;
  top: 30px;
  left: -185px;
  border-bottom: 4px solid var(--color-primary);
}

.title::after {
  left: 295px;
}

.about {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__info {
  margin-right: 57px;
  display: flex; 
  justify-content: flex-start;
}

.about__description {
  margin-right: 160px;
  max-width: 50%;
}
.about__description h2 {
  margin: 23px 0;
  font-size: 40px;
  font-weight: 700;
}

.about__description p {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.about__foto {
  width: 400px;
  height: 400px;
}

.sample {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample__info {
  width: 100%;
}

.sample__wrapper {
  margin-bottom: 38px;
  width: 258px;
  height: 258px;
}

.sample__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 58px rgba(244, 74, 30, 0.25);
}

.sample__info h2 {
  margin: 23px 0 35px;
  font-size: 40px;
  font-weight: 700;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  font-size: 20px;
  min-height: 112px;
  display: flex;
  align-items: center;
}

button,
.about__link {
  padding: 16px 27px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-primary);color: #ffffff;
  border: none;
}

/*Desktop*/

@media (max-width: 1599px) {
  .app-wrapper {
    min-width: 1200px;
    max-width: 1380px;
    padding: 0 100px;
  }
}


/*Tablet*/

@media (max-width: 1199px) {
  .app-wrapper {
    min-width: 768px;
    max-width: 1340px;
    padding: 0 80px;
  }

  .title {
    margin: 50px 0;
    position: relative;
    font-size: 40px;
  }
  
  .title::before,
  .title::after {
    width: 120px;
    top: 20px;
    left: -160px;
    border-bottom: 3px solid var(--color-primary);
  }
  
  .title::after {
    left: 220px;
  }

  .about__info {
    margin-right: 0;
    justify-content: flex-start;
  }
  
  .about__description {
    margin-right: 80px;
    max-width: 60%;
    
  }
  .about__description h2 {
    margin: 23px 0;
    font-size: 30px;
    font-weight: 700;
  }
  
  .about__description p {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .about__foto {
    width: 250px;
    height: 250px;
  }

  .sample__info h2 {
    font-size: 30px;
  }
}

/*Mobile */

@media (max-width: 767px) {
  .app-wrapper {
    margin: 0 auto;
    display: block;
    min-width: 320px;
    max-width: 700px;
    padding: 20px 20px 0;
    overflow-x: hidden;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 112px; 
  }

  .logo {
    width: 180px;
    margin-bottom: 30px;
  }

  .nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .nav-list li {
    margin: 0 0 20px 0;
  }

  .title {
    margin: 30px 0 50px;
    position: relative;
    font-size: 30px;
  }
  
  .title::before,
  .title::after {
    width: 60px;
    top: 15px;
    left: -74px;
    border-bottom: 2px solid var(--color-primary);
  }
  
  .title::after {
    left: 145px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__info {
    flex-direction: column;
  }

  .about__foto {
    margin: 0 auto;
    order: 0;
    width: 200px;
    height: 200px;
  }
  
  .about__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    margin: 0;
    padding: 0 10px;
    max-width: 100%;
  }
  .about__description h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
 
  .about__description p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 26px;
  }

  button,
  .about__link {
    margin: 0 auto;
    width: 260px;
    padding: 16px 27px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: var(--color-primary);
    color: #ffffff;
    border: none;
  }

  .sample {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sample__info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .sample__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sample__picture {
    width: 260px;
    height: 260px;
  }

  .sample__info h2 {
    margin: 0px 0 35px;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .footer {
    display: block;
    margin-top: 150px;
    text-align: center;
    font-size: 14px;
    min-height: 50px;
  }
}

